body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: sans-serif;
    background: linear-gradient(135deg,
            purple 20%,
            orange 80%);
}

.menu {
    background-color: lightgrey;
    width: 300px;
    opacity: .3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;

}

.menu p {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.rotate .fas {
    transform: rotate(180deg);
}



.social-list {
    background-color: lightgrey;
    width: 300px;
    padding: 10px;
    opacity: .3;
    list-style-type: none;
    transition: padding 0.2s linear;

}

.social-list li {
    display: flex;
    align-items: center;
    transition: padding 0.2s linear;

}

.social-list li .fab {
    margin: 0 10px;
    cursor: pointer;
}

.social-list li:hover {
    background: darkgrey;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;
}

 /* .hide {
    visibility: hidden;
}  */

.menu .fas {
    transition: transform .2s;
}