<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>:: OJAS, Government of Gujarat ::
    </title>
</head>
<style>
#block_error{
      width: 845px;
      height: 384px;
      border: 1px solid #cccccc;
      margin: 72px auto 0;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: #fff url(http://www.ebpaidrev.com/systemerror/block.gif) no-repeat 0 51px;
  }
  #block_error div{
      padding: 100px 40px 0 186px;
  }
  #block_error div h2{
      color: #218bdc;
      font-size: 24px;
      display: block;
      padding: 0 0 14px 0;
      border-bottom: 1px solid #cccccc;
      margin-bottom: 12px;
      font-weight: normal;
  }
</style>
<body>
    <form id="form1" runat="server">
    <body marginwidth="0" marginheight="0">
        <div id="block_error">
            <div>
                <h2>
                     <span id="Label1">You are not able to open because of an error on the page.</span>
                </h2>
                <p>
                    <span id="LblSessionMsg"><asp:Label ID="lblErrorMsg" runat="server" ></asp:Label></span>
                </p>
                <p>
                    <span id="Span1">
                    <a href="javascript:window.history.back();">Back</a>
                    </span>
                </p>
            </div>
        </div>
    </body>
</html>
